body {
    /*background: #fafafa;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*color: #333;*/
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

html, body {
  background: #dad0e8;
}

/* line 9, ../sass/style.scss */
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 14, ../sass/style.scss */
input {
  border: 0;
}

/* line 19, ../sass/style.scss */
#header.bs-custom-nav {
  background: #563d7c;
  border-color: #463265;
  left: 200px;
}
/* line 24, ../sass/style.scss */
#header .navbar-brand {
    font-size: 1.5em;
    border: 0;
    height: 45px;
  color: #fff;
  opacity: 0.9;
}
/* line 28, ../sass/style.scss */
#header .github-login {
  float: right;
  margin: 0.5em;
}
/* line 31, ../sass/style.scss */
#header .github-login > i {
  padding-right: 0.5em;
}
